<!-- templates/login.html -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>TerraWiki Login</title>
</head>

<body>
    <div class="h-screen flex items-center justify-center bg-gray-800">
        <div class="bg-white w-full max-w-lg py-4 rounded-lg text-center">
            <h3 class="text-3xl text-gray-800">TerraWiki Login</h3>
            <form class="flex flex-col mt-5 px-5" action="/" method="post">
                <input type="text" placeholder="Username" name="userName"
                    class="bg-gray-100 shadow-inner focus:outline-none border-2 focus:border-opacity-50 focus:border-green-600 mb-3 py-3 px-5 rounded-lg" />
                <input type="password" placeholder="Password" name="userPassword"
                    class="bg-gray-100 shadow-inner focus:outline-none border-2 focus:border-opacity-50 focus:border-green-600 py-3 px-5 rounded-lg" />

                <div class="justify-between mt-3">
                    <button
                        class="w-40 py-3 px-5 bg-gray-800 text-white mt-3 ms-5 text-base rounded-lg focus:outline-none hover:opacity-90"
                        onClick="location.href='signup'; return false;">
                        Sign Up
                    </button>
                    <button type="submit"
                        class="w-40 py-3 px-5 bg-gray-800 text-white mt-3 text-base rounded-lg focus:outline-none hover:opacity-90"
                        onClick="location.href='wiki'; return false;">
                        Log In
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>