<!-- templates/signup.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>TerraWiki Sign in</title>
</head>
<body>
    <h1>Sign Up</h1>
    <div class="h-screen flex items-center justify-center bg-gray-800">
        <div class="bg-white w-full max-w-lg py-4 rounded-lg text-center">
            <h3 class="text-3xl text-gray-800">TerraWiki SignUp</h3>
            <form class="flex flex-col mt-5 px-5" action="/signup" method="post">
                <input type="text" placeholder="User Name" name="username"
                    class="bg-gray-100 shadow-inner focus:outline-none border-2 focus:border-opacity-50 focus:border-green-600 mb-3 py-3 px-5 rounded-lg" />
                <input type="password" placeholder="Password" name="password"
                    class="bg-gray-100 shadow-inner focus:outline-none border-2 focus:border-opacity-50 focus:border-green-600 mb-3 py-3 px-5 rounded-lg" />
                <input type="password" placeholder="Password Check" name="password"
                    class="bg-gray-100 shadow-inner focus:outline-none border-2 focus:border-opacity-50 focus:border-green-600 mb-8 py-3 px-5 rounded-lg" />
                <input type="text" placeholder="Nick Name" name="nickname"
                    class="bg-gray-100 shadow-inner focus:outline-none border-2 focus:border-opacity-50 focus:border-green-600 mb-3 py-3 px-5 rounded-lg" />
                <input type="text" placeholder="Phone Num" name="phoneNum"
                    class="bg-gray-100 shadow-inner focus:outline-none border-2 focus:border-opacity-50 focus:border-green-600 py-3 px-5 rounded-lg" />
                <button type="submit"
                    class="py-3 px-5 bg-gray-800 text-white mt-7 text-base rounded-lg focus:outline-none hover:opacity-90">
                    Sign Up
                </button>
            </form>
        </div>
    </div>
</body>
</html>
  